/* Syntax Highlighter Styles */
.pln
{
    color: #222222;
}
@media screen
{
    .str
    {
        color: #2f2f2f;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .kwd
    {
        color: #4a6885;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .com
    {
        color: #800;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .typ
    {
        color: #606;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .lit
    {
        color: #4a8480;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .pun, .opn, .clo
    {
        color: #F04D00;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .tag
    {
        color: #008;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .atn
    {
        color: #606;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .atv
    {
        color: #080;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .dec,.var
    {
        color: #606;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
    .fun
    {
        color: red;
        font-family: 'Anonymous Pro', sans-serif;
        font-size: 12px;
    }
}
pre.prettyprint
{
    border: none;
    background-color: #F4F4F4;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 12px;
    overflow: auto;
    padding: 15px 15px;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 12px;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #222222;
    list-style-type: decimal;
    line-height: 20px;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 12px;
}
li.L1,li.L3,li.L5,li.L7,li.L9
{
    background-color: #d1d1d1;
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 12px;
}
