<nav id="nav" class="hidden-sm hidden-xs affix nav">
    {% if security %}
        <div>
            <a class="list-group-item collapsed" href="#security">Security</a>
        </div>
    {% endif %}

    {% for resource in resources %}
        {% include "menu/group.html.twig" %}
    {% endfor %}
</nav>
